/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-card {
  margin: 16px;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-table {
  width: 100%;
}